# Archivos temporales de vim
*~
*.swp
# Compilados
*.o
*.so
*.gch

# Ejecutables
programa1
programa2

# Autoconf
autom4te.cache
config.status
config.log
Makefile
src/Makefile
build
aclocal.m4
install-sh
missing
autoscan.log
config.h
